<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="${@mvcResourceUrlProvider.getForLookupPath('/libs/webix/webix.css')}"
      type="text/css"
    />
    <script
      th:src="${@mvcResourceUrlProvider.getForLookupPath('/libs/webix/webix.js')}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      th:src="${@mvcResourceUrlProvider.getForLookupPath('/libs/axios/axios.min.js')}"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      webix.ui({
        rows: [
          { type: 'header', template: 'Preview' },
          {
            cols: [
              {
                id: 'reportComboId',
                view: 'combo',
                label: 'List Report',
                width: 300,
                name: 'report',
                options: [
                  { id: 1, value: 'Employee Report', fileNm: 'employeeReport' },
                  { id: 2, value: 'Product Report', fileNm: 'productReport' },
                ],
              },
              {
                id: 'typeExport',
                view: 'radio',
                name: 'type',
                value: '1',
                options: [
                  { id: 'PDF', value: 'PDF' },
                  { id: 'EXCEL', value: 'EXCEL' },
                ],
              },
              {},
              {
                view: 'button',
                value: 'Export',
                width: 100,
                click: function () {
                  axios
                    .get('/employee/export', {
                      params: {
                        fileName: $$('reportComboId')
                          .getList()
                          .getItem($$('reportComboId').getValue()).fileNm,
                        type: $$('typeExport').getValue(),
                      },
                      responseType: 'arraybuffer',
                    })
                    .then((res) => {
                      download(
                        res.data,
                        `${(Math.random() * 100000).toFixed(0)}.${
                          $$('typeExport').getValue() === 'PDF' ? 'pdf' : 'xlsx'
                        }
                        `,
                        res.headers['content-type'],
                      );
                    })
                    .catch((err) => {
                      console.log(err);
                    });
                },
              },
            ],
          },
          { view: 'resizer' },
        ],
      });
    </script>
  </body>
</html>
