<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="${@mvcResourceUrlProvider.getForLookupPath('/libs/webix/webix.css')}"
      type="text/css"
    />
    <link
            rel="stylesheet"
            th:href="${@mvcResourceUrlProvider.getForLookupPath('/libs/webix/skins/mini.css')}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            th:href="${@mvcResourceUrlProvider.getForLookupPath('/style/css/style.css')}"
            type="text/css"
    />
    <script
      th:src="${@mvcResourceUrlProvider.getForLookupPath('/libs/webix/webix.js')}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      th:src="${@mvcResourceUrlProvider.getForLookupPath('/libs/axios/axios.min.js')}"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      type="text/javascript"
      th:src="${@mvcResourceUrlProvider.getForLookupPath('/app/index.js')}"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="widget-Body"></div>
  </body>
</html>
